html, body, main
    height:100%
    margin:0
    background-color:white
    text-align:center

h1
    margin:0
    padding:10px
    color:black
    font-family:'Do Hyeon'
    font-size:80px
    text-align:center
    user-select: none
    -mox-user-select:none
    -webkit-user-select: none

h3
    height:40px
    margin:10px 20px 0 20px
    color:black
    font-family:'Do Hyeon'
    font-size:40px
    text-align:center
    user-select: none
    -mox-user-select:none
    -webkit-user-select: none

button
    display:block
    margin:15px auto 0 auto
    padding:5px 20px
    border:2px solid black
    color:black
    background-color:transparent
    font-family:'Do Hyeon'
    font-size:30px
    text-align:center
    transition:.5s
    user-select: none
    -mox-user-select:none
    -webkit-user-select: none

    &:hover
        color:white
        background-color:#000

#game-area
    display: grid
    grid-gap: 25px
    grid-template-columns: 1fr 1fr
    width:30%
    margin:auto
    padding:25px
    background-color:black

    .box
        width:100%
        height:0px
        padding-top: 100%;
        transition:.2s

    #red
        background-color:#F44336
        &.flash
            background-color:#EF9A9A

    #blue
        background-color:#2196F3
        &.flash
            background-color:#81D4FA

    #green
        background-color:#39ef3b
        &.flash
            background-color:#a3ff91

    #yellow
        background-color:yellow
        &.flash
            background-color:#FDD835

@media(max-width:1000px)
    #game-area
        grid-gap: 25px
        width:35%
        padding:25px


@media(max-width:900px)
    #game-area
        grid-gap: 25px
        width:40%
        padding:25px


@media(max-width:800px)
    #game-area
        grid-gap: 25px
        width:45%
        padding:25px


@media(max-width:700px)
    #game-area
        grid-gap: 20px
        width:60%
        padding:20px


@media(max-width:500px)
    #game-area
        grid-gap: 15px
        width:70%
        padding:15px

@media(max-width:400px)
    h1
        padding:7px
        font-size:65px
