#title
    font-family:Roboto
    text-align:center
    font-size:50px
    font-weight:300

.box
    box-sizing: border-box
    width:150px
    height:150px
    transition:.2s

#game-area
    display: grid
    grid-gap: 20px
    grid-template-columns: 150px 150px

#red
    background-color:red

#blue
    background-color:blue

#green
    background-color:green

#yellow
    background-color:yellow

.flash
    border:75px #ffffff88 solid